<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Formulario Picas y Famas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Picas y Famas</h1>


<form action="#" th:action="@{/juego}" th:object="${juego}" method="post">
    <p>Adivine el numero de cuatro cifras que estoy pensando... <input type="text" th:field="*{numero}" /></p>
    <p>Le dire el numero de picas y famas...</p>
    <p><input type="submit" value="Jugar" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>